<mat-list>
  <mat-list-item routerLink="/students">
    <img class="side-bar-icon" src="/assets/icons/student.png">
    <span>Student</span>
  </mat-list-item>
  <mat-list-item>
    <img class="side-bar-icon" src="/assets/icons/exam.png">
    <span>Score</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="/classes">
    <img class="side-bar-icon" src="/assets/icons/class.png">
    <span>Class</span>
  </mat-list-item>
  <mat-list-item>
    <img class="side-bar-icon" src="/assets/icons/fee.png">
    <span>Fee</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <img class="side-bar-icon" src="/assets/icons/staff.png">
    <span>Staff</span>
  </mat-list-item>
  <mat-list-item>
    <img class="side-bar-icon" src="/assets/icons/salary.png">
    <span>Salary</span>
  </mat-list-item>
</mat-list>
