<mat-list>
  <mat-list-item routerLink="/student">
    <mat-icon>settings</mat-icon>
    <span>Student</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>power_settings_new</mat-icon>
    <span>Score</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item routerLink="/classes">
    <mat-icon>power_settings_new</mat-icon>
    <span>Class</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>power_settings_new</mat-icon>
    <span>Fee</span>
  </mat-list-item>
  <mat-divider></mat-divider>
  <mat-list-item>
    <mat-icon>power_settings_new</mat-icon>
    <span>Staff</span>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>attach_money</mat-icon>
    <span>Salary</span>
  </mat-list-item>
</mat-list>
