.dialog {
    min-width: 450px;
    min-height: 300px;
}

.margin-left {
    margin-left: 10px;
}

mat-list-item {
    margin-bottom: 10px;
}

.dateField {
    width: 75px;
    margin-left: 10px;
}

mat-form-field {
    margin-right: auto;
}