<div mat-dialog-content class="dialog">
    <mat-grid-list cols="1" rowHeight="25px">
        <mat-grid-tile [rowspan]="3">
            <mat-form-field style="width: 80%;">
                <input matInput placeholder="Title" [(ngModel)]="title" name="title" />
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="3">
            <mat-form-field>
                <input matInput name="date" [matDatepicker]="picker" [(ngModel)]="date" (click)="picker.open()"
                    placeholder="Date" required>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <input class="dateField" [ngxTimepicker]="pickerFrom" [min]="'09:00'" [max]="'21:00'" [format]=24
                [(ngModel)]="startTime">
            <ngx-material-timepicker #pickerFrom [minutesGap]="5"></ngx-material-timepicker>
            <label style="margin-left: 10px;"> - </label>
            <input class="dateField" [ngxTimepicker]="pickerTo" [min]="'09:00'" [max]="'21:00'" [format]=24
                [(ngModel)]="endTime">
            <ngx-material-timepicker #pickerTo [minutesGap]="5"></ngx-material-timepicker>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="margin-right: auto;">
                <mat-slide-toggle #recurEvent>Recurrence Event</mat-slide-toggle>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="3">
            <mat-form-field>
                <mat-label>Repeats On</mat-label>
                <mat-select name="repeats" [(ngModel)]="daysOfWeek" [disabled]="!recurEvent.checked" multiple>
                    <mat-option value=1>Mon</mat-option>
                    <mat-option value=2>Tue</mat-option>
                    <mat-option value=3>Wed</mat-option>
                    <mat-option value=4>Thu</mat-option>
                    <mat-option value=5>Fri</mat-option>
                    <mat-option value=6>Sat</mat-option>
                    <mat-option value=0>Sun</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field class="margin-left">
                <input matInput name="endDate" [matDatepicker]="endDatepicker" [(ngModel)]="repeatDate"
                    (click)="endDatepicker.open()" placeholder="Repeat until" [disabled]="!recurEvent.checked">
                <mat-datepicker #endDatepicker></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="2" style="overflow: visible;">
            <div style="margin-right: auto;">
                <p-autoComplete [(ngModel)]="selectedStaff" [suggestions]="staffSuggestion" [size]=40
                    [placeholder]="'Enter staff name'" (completeMethod)="searchStaff($event)" [field]="'fullName'"
                    [dropdownMode]="'current'" appendTo="body"></p-autoComplete>
            </div>
        </mat-grid-tile>
        <mat-grid-tile [rowspan]="3">
            <mat-form-field style="width: 100%;">
                <textarea matInput [(ngModel)]="description" name="description" placeholder="Description: "></textarea>
            </mat-form-field>
        </mat-grid-tile>
    </mat-grid-list>
</div>
<div mat-dialog-actions style="justify-content: center;">
    <button matDialogClose type="button" mat-raised-button color="warn" style="margin-bottom: 10px;" (click)="delete()">
        <mat-icon>delete</mat-icon><span> Delete</span>
    </button>
    <button matDialogClose type="button" mat-raised-button color="accent" style="margin-bottom: 10px;"
        (click)="save(recurEvent.checked)">
        <mat-icon>check_circle</mat-icon><span> Save</span>
    </button>
</div>