/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: gray;
}

button:hover {
    filter: drop-shadow(8px 8px 10px gray) contrast(125%);
}

.cdk-overlay-container {
    z-index: 1 !important;
}

.ui-toast-message.ui-toast-message-success {
    background-color: #1B8A6B !important;
    color: #F3F3F3 !important;
}

.ui-toast-close-icon {
    color: #F3F3F3 !important;
}

.ui-toast-message.ui-toast-message-error {
    background-color: #D0312D !important;
    color: #F3F3F3 !important;
}

.ui-toast-message.ui-toast-message-warn {
    background-color: #ff6600 !important;
    color: #F3F3F3 !important;
}

.ui-toast {
    width: 25em !important;
}