<mat-tab-group animationDuration="0ms">
    <mat-tab label="Payment List">
        <p-table [columns]="cols" [value]="paymentList" selectionMode="single" (onRowSelect)="onRowSelect($event)"
            [paginator]="true" [rows]="10" [autoLayout]="true">
            <ng-template pTemplate="caption">
                Payment List
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{col.field === 'date' ? (rowData[col.field] | date:'dd-MM-yyyy') :rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </mat-tab>

    <mat-tab label="New Payment">
        <p-fieldset legend="Search">
            <mat-list>
                <mat-list-item>
                    <p-dropdown #dd [style]="{'min-width':'100px'}"
                        [options]="[{label: 'Class', value: {field: 'className'}},{label: 'Student', value: {field: 'fullName'}}]"
                        (onChange)="changeSearchCriteria(dd.label)">
                    </p-dropdown>
                    <p-autoComplete [(ngModel)]="selectedFilter" [suggestions]="results"
                        (completeMethod)="search($event, dd.selectedOption)" [dropdown]="true"
                        [field]="dd.selectedOption.value.field" [dropdownMode]="'current'"
                        (onSelect)="fillSearchResults($event, dd.label)"></p-autoComplete>
                </mat-list-item>
                <mat-list-item>
                    <mat-form-field>
                        <label>{{aditionalLabel1}} </label>
                        <input matInput name="Text" [disabled]=true value="{{aditionalField1}}" />
                    </mat-form-field>
                    <mat-form-field class="margin-left">
                        <label>{{aditionalLabel2}}</label>
                        <input matInput name="Text" [disabled]=true value="{{aditionalField2}}" />
                    </mat-form-field>
                </mat-list-item>
            </mat-list>
        </p-fieldset>
        <app-student-payment-list [payments]=payments (paymentChange)="fillSearchResults(this.selectedFilter,dd.label)">
        </app-student-payment-list>
    </mat-tab>
</mat-tab-group>