<mat-tab-group>
  <mat-tab label="Student Info">
    <div mat-dialog-content>
      <form>
        <mat-grid-list cols="2" rowHeight="3:1">
          <mat-grid-tile *ngFor="let field of fields">
            <mat-form-field>
              <mat-label>{{field.header}}</mat-label>
              <input *ngIf="field.field !== 'birthday'; else elseBlock" name="{{field.field}}" matInput
                [(ngModel)]="studentInfo[field.field]" [disabled]="field.field === 'id' && !isNewStudent">

              <ng-template #elseBlock>
                <input class="dateField" name="birthday" matInput [matDatepicker]="myDatepicker"
                  [(ngModel)]="studentInfo.birthday">
                <mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
                <mat-datepicker #myDatepicker></mat-datepicker>
              </ng-template>
            </mat-form-field>
          </mat-grid-tile>
        </mat-grid-list>
      </form>
    </div>
  </mat-tab>
  <mat-tab label="Class">
    This is class tab !
  </mat-tab>
</mat-tab-group>
<div mat-dialog-actions>
  <button *ngIf="!isNewStudent" type="button" mat-raised-button color="warn" (click)="closeDialog('delete')">
    <mat-icon>delete</mat-icon><span>Delete</span>
  </button>
  <button type="button" mat-raised-button color="accent" (click)="closeDialog('save')">
    <mat-icon>check_circle</mat-icon><span>Save</span>
  </button>
</div>