<mat-tab-group animationDuration="0ms" (selectedTabChange)="tabChanged($event)">
    <mat-tab label="Class List">
        <p-table #classList [columns]="cols" [value]="classes" selectionMode="single" [(selection)]="selectedClass"
            [paginator]="true" [rows]="15" (onRowSelect)="onRowSelect($event)" [autoLayout]="true">
            <ng-template pTemplate="caption">
                Class List
                <div style="text-align: right">
                    <input type="text" pInputText placeholder="Search class" (input)="classList.filter($event.target.value, 'className', 'contains')">
                </div>
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{(col.field === 'startDate' || col.field === 'endDate') ? (rowData[col.field] | date:'dd-MM-yyyy') :rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button type="button" mat-raised-button (click)="showDialogToAdd()" color="primary">
                        <mat-icon>add</mat-icon><span>Add</span>
                    </button>
                </div>
            </ng-template>
        </p-table>
    </mat-tab>
    <mat-tab label="Edit Student Class">
        <div style="text-align: left; margin-top: 20px; margin-left: 20px;">
            <p-selectButton [options]="studentOptions" [(ngModel)]="selectedTypeStudent" (onChange)="handleChange($event)">
            </p-selectButton>
        </div>
        <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile rowspan="2">
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngIf="selectedTypeStudent == 'Move Student'">
                        <mat-label class="mat-label-style">Source Class</mat-label>
                        <p-autoComplete [(ngModel)]="class1" [suggestions]="suggestionClasses1"
                            (completeMethod)="searchClass($event, true)" field="className" [size]="30"
                            placeholder="Class Name" [minLength]="1" (onSelect)="updateList($event, true)"
                            appendTo="body">
                        </p-autoComplete>
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>
            <mat-grid-tile rowspan="2">
                <mat-label class="mat-label-style">Target Class</mat-label>
                <p-autoComplete [(ngModel)]="class2" [suggestions]="suggestionClasses2"
                    (completeMethod)="searchClass($event, false)" field="className" [size]="30"
                    placeholder="Class Name" [minLength]="1" (onSelect)="updateList($event, false)"
                    appendTo="body">
                </p-autoComplete>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" style="width: 100%; height: 20px;">
                <button type="button" mat-raised-button (click)="clearSearchData()" color="primary">
                    <span>Clear</span>
                </button>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="9">
                <p-pickList [source]="studentList1" [target]="studentList2" sourceHeader="Source Class"
                    targetHeader="Target Class" [responsive]="true" filterBy="fullName" dragdrop="true"
                    sourceFilterPlaceholder="Search by Name" targetFilterPlaceholder="Search by Name"
                    [sourceStyle]="{'height':'300px', 'width':'500px'}"
                    [targetStyle]="{'height':'300px', 'width':'500px'}" (onMoveToTarget)="changeList()"
                    (onMoveToSource)="changeList()" (onMoveAllToTarget)="changeList()"
                    (onMoveAllToSource)="changeList()">
                    <ng-template let-student pTemplate="item">
                        <div class="ui-helper-clearfix">
                            <div style="font-size:14px;float:left;margin:15px 5px 0 0">{{student.fullName}} -
                                {{student.birthday}} - {{student.contactNumber}}</div>
                        </div>
                    </ng-template>
                </p-pickList>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <div style="text-align:center; margin-top: 20px;">
                    <button [disabled]="!isChange" style="margin-left: 20px;" type="button" mat-raised-button
                        (click)="updateData()" color="primary">
                        <span>Update</span>
                    </button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
    <mat-tab label="Edit Staff Class">
        <div style="text-align: left; margin-top: 20px; margin-left: 20px;">
            <p-selectButton [options]="staffOptions" [(ngModel)]="selectedTypeStaff" (onChange)="handleChange($event)">
            </p-selectButton>
        </div>
        <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile rowspan="2">
                <mat-list role="list">
                    <mat-list-item role="listitem" *ngIf="selectedTypeStaff == 'Move Staff'">
                        <mat-label class="mat-label-style">Source Class</mat-label>
                        <p-autoComplete [(ngModel)]="classSourceStaff" [suggestions]="suggestionStaffSource"
                            (completeMethod)="searchClass($event, true)" field="className" [size]="30"
                            placeholder="Class Name" [minLength]="1" (onSelect)="updateList($event, true)"
                            appendTo="body">
                        </p-autoComplete>
                    </mat-list-item>
                </mat-list>
            </mat-grid-tile>
            <mat-grid-tile rowspan="2">
                <mat-label class="mat-label-style">Target Class</mat-label>
                <p-autoComplete [(ngModel)]="classTargetStaff" [suggestions]="suggestionStaffTarget"
                    (completeMethod)="searchClass($event, false)" field="className" [size]="30"
                    placeholder="Class Name" [minLength]="1" (onSelect)="updateList($event, false)"
                    appendTo="body">
                </p-autoComplete>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" style="width: 100%; height: 20px;">
                <button type="button" mat-raised-button (click)="clearSearchData()" color="primary">
                    <span>Clear</span>
                </button>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="9">
                <p-pickList [source]="staffListSource" [target]="staffListTarget" sourceHeader="Source Class"
                    targetHeader="Target Class" [responsive]="true" filterBy="fullName" dragdrop="true"
                    sourceFilterPlaceholder="Search by Name" targetFilterPlaceholder="Search by Name"
                    [sourceStyle]="{'height':'300px', 'width':'500px'}"
                    [targetStyle]="{'height':'300px', 'width':'500px'}" (onMoveToTarget)="changeList()"
                    (onMoveToSource)="changeList()" (onMoveAllToTarget)="changeList()"
                    (onMoveAllToSource)="changeList()">
                    <ng-template let-staff pTemplate="item">
                        <div class="ui-helper-clearfix">
                            <div style="font-size:14px;float:left;margin:15px 5px 0 0">{{staff.fullName}} -
                                {{staff.birthday}} - {{staff.contactNumber}}</div>
                        </div>
                    </ng-template>
                </p-pickList>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <div style="text-align:center; margin-top: 20px;">
                    <button [disabled]="!isChangeStaff" style="margin-left: 20px;" type="button" mat-raised-button
                        (click)="updateData()" color="primary">
                        <span>Update</span>
                    </button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>