<mat-tab-group animationDuration="0ms">
    <mat-tab label="Class List">
        <p-table [columns]="cols" [value]="classes" selectionMode="single" [(selection)]="selectedClass"
            [paginator]="true" [rows]="15" (onRowSelect)="onRowSelect($event)" [autoLayout]="true">
            <ng-template pTemplate="caption">
                Class List
            </ng-template>
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-columns="columns">
                <tr [pSelectableRow]="rowData">
                    <td *ngFor="let col of columns">
                        {{(col.field === 'startDate' || col.field === 'endDate') ? (rowData[col.field] | date:'dd-MM-yyyy') :rowData[col.field]}}
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="summary" let-rowData>
                <div style="text-align:left">
                    <button type="button" mat-raised-button (click)="showDialogToAdd()" color="primary">
                        <mat-icon>add</mat-icon><span>Add</span>
                    </button>
                </div>
            </ng-template>
        </p-table>
    </mat-tab>
    <mat-tab label="Add Student">
        <mat-grid-list cols="2" rowHeight="50px">
            <mat-grid-tile rowspan="2">
                <mat-label class="mat-label-style">Source Class</mat-label>
                <p-autoComplete [(ngModel)]="class1" [suggestions]="suggestionClasses1"
                    (completeMethod)="searchClass($event, true)" field="className" [size]="30" placeholder="Class Name"
                    [minLength]="1" (onSelect)="updateStudentList($event, true)">
                </p-autoComplete>
            </mat-grid-tile>
            <mat-grid-tile rowspan="2">
                <mat-label class="mat-label-style">Target Class</mat-label>
                <p-autoComplete [(ngModel)]="class2" [suggestions]="suggestionClasses2"
                    (completeMethod)="searchClass($event, false)" field="className" [size]="30" placeholder="Class Name"
                    [minLength]="1" (onSelect)="updateStudentList($event, false)">
                </p-autoComplete>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" style="width: 100%; height: 20px;">
                <button [disabled]="!class1 || !class2" type="button" mat-raised-button (click)="clearSearchData()"
                    color="primary">
                    <span>Clear</span>
                </button>
            </mat-grid-tile>
            <mat-grid-tile colspan="2" rowspan="9">
                <p-pickList [source]="studentList1" [target]="studentList2" sourceHeader="Source Class"
                    targetHeader="Target Class" [responsive]="true" filterBy="fullName" dragdrop="true"
                    sourceFilterPlaceholder="Search by Name" targetFilterPlaceholder="Search by Name"
                    [sourceStyle]="{'height':'300px', 'width':'500px'}"
                    [targetStyle]="{'height':'300px', 'width':'500px'}" (onMoveToTarget)="changeList()"
                    (onMoveToSource)="changeList()" (onMoveAllToTarget)="changeList()"
                    (onMoveAllToSource)="changeList()">
                    <ng-template let-student pTemplate="item">
                        <div class="ui-helper-clearfix">
                            <div style="font-size:14px;float:left;margin:15px 5px 0 0">{{student.fullName}} -
                                {{student.birthday}} - {{student.contactNumber}}</div>
                        </div>
                    </ng-template>
                </p-pickList>
            </mat-grid-tile>
            <mat-grid-tile colspan="2">
                <div style="text-align:center; margin-top: 20px;">
                    <button [disabled]="!isChange" style="margin-left: 20px;" type="button" mat-raised-button
                        (click)="updateStudentClass()" color="primary">
                        <span>Update</span>
                    </button>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-tab>
</mat-tab-group>