.class-detail {
  max-width: 500px;
  max-height: 600px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.content {
  flex-grow: 1;
}

mat-form-field {
  width: 80%;
}

.mat-raised-button {
  margin-left: 5px;
}

.mat-dialog-actions {
  float: right;
}

.checkAttendance {
  float: left;
}

.my-checkbox {
  margin: 0 10px;
}

/* :host ::ng-deep .ui-table-customers {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  .ui-dropdown-label:not(.ui-placeholder) {
      text-transform: uppercase;
  }

  .ui-table-tbody > tr > td .ui-column-title {
      display: none;
  } */