.mat-dialog-content {
  display: contents;
}

mat-tab-group {
  min-width: 700px;
  min-height: 600px
}

.mat-dialog-actions {
  float: right;
}

.mat-form-field-infix {
  display: flex;
}

.dateField {
  width: 140px;
}

:host ::ng-deep .ui-table-customers {
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  }

  .ui-dropdown-label:not(.ui-placeholder) {
      text-transform: uppercase;
  }

  .ui-table-tbody > tr > td .ui-column-title {
      display: none;
  }