<div style="margin-top: 20px;width: 70%;margin-left: auto;margin-right: auto;display: flex;">
    <p-overlayPanel #op [dismissable]="true" [showCloseIcon]="true" (onHide)="getEventsForStaff()">
        <div class="staffSearchPanel">
            <p-table [value]="selectedStaff" [paginator]="true" [rows]="5" [autoLayout]="true">
                <ng-template pTemplate="caption">Search staff
                    <p-autoComplete [suggestions]="staffSuggestion" (completeMethod)="searchStaff($event)"
                        [dropdown]="true" [field]="'fullName'" (onSelect)="addStaff($event)">
                    </p-autoComplete>
                </ng-template>
                <ng-template pTemplate="header" let-columns>
                    <tr>
                        <th>Staff Name</th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-rowData>
                    <tr [pSelectableRow]="rowData">
                        <td>{{rowData.fullName}}</td>
                        <td>
                            <mat-icon color="warn" style="cursor: pointer;" (click)="removeStaff(rowData)">delete
                            </mat-icon>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </p-overlayPanel>
    <button type="button" mat-raised-button color="primary" style="align-self: baseline;margin-right: 10px;"
        (click)="op.toggle($event)" #target>
        <mat-icon>search</mat-icon>
    </button>
    <p-fullCalendar #fc [events]="events" [options]="options"></p-fullCalendar>
</div>