  <mat-toolbar color='primary'>
    <mat-icon class="menu-icon" (click)="toggleSideMenu.emit()">menu</mat-icon>
    <span class="title">{{title}}</span>
    <div class="spacer"></div>
    <!-- User account -->
    <img class="account-icon menu-icon" [matMenuTriggerFor]="accountMenu" src="/assets/icons/user.svg">
    <mat-menu #accountMenu="matMenu">
      <button mat-menu-item routerLink="/profile">
        <mat-icon>settings</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item>
        <mat-icon>power_settings_new</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
    <!-- User account End -->
  </mat-toolbar>