<h1 mat-dialog-title>New Payment</h1>
<div mat-dialog-content class="dialog">
    <form>
        <mat-grid-list cols="1" rowHeight="70px">
            <mat-grid-tile>
                <mat-form-field>
                    <label>Student Name</label>
                    <input matInput [disabled]=true value="{{data.fullName}}" name="fullName" />
                </mat-form-field>
                <mat-form-field class="margin-left">
                    <label>Birthday</label>
                    <input matInput [disabled]=true value="{{data.birthday}}" name="birthday" />
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <label>Class Code</label>
                    <input matInput [disabled]=true value="{{data.classCode}}" name="classCode" />
                </mat-form-field>
                <mat-form-field class="margin-left">
                    <label>Class Name</label>
                    <input matInput [disabled]=true value="{{data.className}}" name="className" />
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <label>Pay</label>
                    <mat-select #months value=1>
                        <mat-option value=1>1 month</mat-option>
                        <mat-option value=3>3 months</mat-option>
                        <mat-option value=6>6 months</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="margin-left">
                    <label>Amount</label>
                    <input #amount matInput value="{{data.amount*months.value}}" name="amount" />
                </mat-form-field>
            </mat-grid-tile>
            <mat-grid-tile>
                <mat-form-field>
                    <label>Payment Type</label>
                    <mat-select [(ngModel)]="data.kindOfPayment" name="kindOfPayment">
                        <mat-option value="Cash">Cash</mat-option>
                        <mat-option value="Credit card">Credit card</mat-option>
                        <mat-option value="Bank transfer">Bank transfer</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="margin-left">
                    <label>Reason</label>
                    <input matInput [(ngModel)]="data.reason" name="reason" />
                </mat-form-field>
            </mat-grid-tile>
        </mat-grid-list>
    </form>
</div>
<div mat-dialog-actions style="justify-content: center;">
    <button matDialogClose type="button" mat-raised-button color="accent" style="margin-bottom: 10px;"
        (click)="save(months.value,amount.value)">
        <mat-icon>check_circle</mat-icon><span> Save</span>
    </button>
</div>