.login-form {
    width: 400px;
    height: 400px;
    margin: 75px auto;
    border-radius: 15px;
    padding: 25px;
}

.gradient-background {
    background-color: #08AEEA;
    background-image: linear-gradient(135deg, #08AEEA 0%, #2AF598 100%);
    display: flex;
    height: 100%;
}

.round-button {
    border-radius: 25px;
    display: block;
    color: white;
}

mat-card-title {
    text-align: center;
}

.align-center {
    display: flex;
    flex-direction: column;
}

.login-footer {
    padding: 25px;
}

.login-fields {
    padding: 5px 25px;
}

mat-icon {
    margin-right: 15px;
    color: gray;
}