<p-table [columns]="examFields" [value]="exams" selectionMode="single" [(selection)]="selectedExam" [paginator]="true"
    [rows]="15" (onRowSelect)="onRowSelect($event)" [autoLayout]="true">
    <ng-template pTemplate="caption">
        Class List
    </ng-template>
    <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                {{col.header}}
                <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
            <td *ngFor="let col of columns">
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary" let-rowData>
        <div style="text-align:left">
            <button type="button" mat-raised-button (click)="showDialogToAdd()" color="primary">
                <mat-icon>add</mat-icon><span>Add</span>
            </button>
        </div>
    </ng-template>
</p-table>